If:
  PathMatch: .*\.bpf\.c

CompileFlags:
  Compiler: clang
  Remove:
    - "-fsanitize=*"
    - "-fno-omit-frame-pointer"
    - "-std=*"

  Add:
    - "-xc"
    - "-target"
    - "bpf"
    - "-O2"
    - "-g"
    - "-D__TARGET_ARCH_x86"
    - "-DSHINKU_BPF_LOG_ENABLED=0"
    - "-I."
    - "-I./src"
    - "-I./src/include"
    - "-I./build"

---

If:
  PathMatch: src/bpf/cache_bpf_.*\.h

CompileFlags:
  Compiler: clang
  Remove:
    - "-fsanitize=*"
    - "-fno-omit-frame-pointer"
    - "-std=*"
    - "-x"
    - "c++*"

  Add:
    - "-xc"
    - "-target"
    - "bpf"
    - "-O2"
    - "-g"
    - "-D__TARGET_ARCH_x86"
    - "-DSHINKU_BPF_LOG_ENABLED=0"
    - "-I."
    - "-I./src"
    - "-I./src/include"
    - "-I./build"

---

If:
  PathMatch: src/cache/.*\.h

CompileFlags:
  Compiler: clang++
  Add:
    - "-xc++"
    - "-std=c++23"
